//color
$primary-blue: #2761bd;
$primary-grey: #d9d9d9;
$white: #ffffff;

//fontsize
$mobile-h0-fontsize: 40px;
$mobile-h1-fontsize: 30px;
$mobile-h2-fontsize: 20px;
$mobile-h3-fontsize: 15px;
$mobile-h4-fontsize: 12px;

//box-shadow:
$btn-box-shadow: 2px 2px 7px 2px lightgrey;

.background-container {
  width: 100vw;
  // height: 896px;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;
}

//BigHeaderLayout 版型1
.big-layout-upper-section {
  height: 255px;
}

.upper-section-navigation {
  height: 72px;
  display: flex;
}

.upper-section-textarea {
  color: $white;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.big-layout-lower-section{
  height: 640px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

//smallHeaderLayout 版型2
.background-container {
  width: 100vw;
  height: 844px;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;
}

.small-layout-upper-section{
  height: 72px;
}

.small-layout-lower-section{
  height: 825px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

.small-layout-lower-section-map {
  height: 825px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

//Header 版型1 & 版型2共用
.website-Logo-Icon {
  margin-top: 30px;
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

//UpperSectionText
.upper-section-textarea {
  color: $white;
  margin-left: 30px;
  margin-right: 30px;
}

.upper-section-textarea-hi {
  font-size: $mobile-h1-fontsize;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}

.upper-section-textarea-text {
  font-size: $mobile-h2-fontsize;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}


//Small-lower-Layout
.Small-lower-section-top-area {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.Small-lower-section-middle-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Small-lower-section-button-area {
  margin-top: 60px;
}

//Lower-Section-Item-H3-text
.font-size-h3-text {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin-top: 40px;
}

//FourGridImage
.cancer1-img,
.cancer2-img,
.cancer3-img,
.cancer4-img {
  width: 154px;
  height: 154px;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px lightgrey;
}

//LetGoBtn
.letGoBtn {
  width: 332px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: $mobile-h2-fontsize;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
}

//ProgressBar
.lower-section-progress-bar-area {
  margin-top: 60px;
  margin-bottom: 40px;
}

//formPage- lowerSection

.formFormat{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

//range slider
.ageSlider {
  -webkit-appearance: none;
  width: 225%;
  height: 33px;
  background-color: $primary-grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  border-radius: 15px;
}

.ageSlider:hover {
  opacity: 1;
}

.ageSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  background: $primary-blue;
  cursor: pointer;
}

.ageSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: $primary-blue;
  border-radius: 45px;
  cursor: pointer;
}

#ageOutput {
  color: $primary-blue;
}

.lower-section-progress-bar-area {
  margin-top: 60px;
  margin-bottom: 40px;
}

.lower-section-button-area {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.question-1,
.question-2{
  font-size:$mobile-h2-fontsize;
}

.question-1-question {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-2 {
  margin-top: 50px;
}

.question-2-question{
  display: flex;
}

.question-2-answer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.question-2-answer{
  margin-bottom: 36px;
}

input[type="radio"]:checked+label .gender-answer-pic {
  border: 3px solid $primary-blue;
  border-radius: 15px;
  box-shadow: 0.6px 1px 7px 6px #ccc;
}

input[type="radio"] {
  visibility: hidden;
}

.checkBtn {
  margin-top: 30px;
  width: 332px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: $mobile-h2-fontsize;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
}

//ResultPage

.lower-section-result-area-text{
  font-size: $mobile-h2-fontsize;
  color:$primary-blue;
  margin: 0 auto;
  width: 250px;
}

.lower-section-result-area-four-box {
  margin-top: 60px;
  margin-bottom: 50px;
}


.cancer1,
.cancer2,
.cancer3,
.cancer4{
  width: 154px;
  height: 154px;

  &.checked {
    border: 3px solid $primary-blue;
    border-radius: 15px;
    box-shadow: 0.6px 1px 7px 6px #ccc;
    margin-right: 6px;
  }
}


.NearByBtn{
    margin: 0 auto;
    width: 332px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: $mobile-h2-fontsize;
    background-color: #2761bd;
    color: $white;
    box-shadow: $btn-box-shadow;
}

.progress-bar-start,.progress-bar-end{
  height: 55px;
  width: 325px;
}

//loading animation

.loading{
  margin-top: 100px;
}

.bubblingG {
  text-align: center;
  // width: 400px;
  height: 60px;
  margin: auto;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 24px auto;
  background: rgb(92, 147, 230);
  border-radius: 49px;
  -o-border-radius: 49px;
  -ms-border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  animation: bubblingG 1.5s infinite alternate;
  -o-animation: bubblingG 1.5s infinite alternate;
  -ms-animation: bubblingG 1.5s infinite alternate;
  -webkit-animation: bubblingG 1.5s infinite alternate;
  -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-20px);
  }
}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -o-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -o-transform: translateY(-20px);
  }
}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -ms-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -ms-transform: translateY(-20px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -moz-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -moz-transform: translateY(-20px);
  }
}


//PopupModal
.cover-image {
  position: absolute;
  height: 844px;
  width: 100vw;
  background-color: white;
  opacity: 0.9;
  z-index: 2;
  display: block;
  
}

.pop-up-message {
  position: absolute;
  top: 250px;
  left: 50%;
    /* 定位到整個畫面的 50% */
    transform: translateX(-50%);
    /* 將元素的寬度往左移一半，實現居中 */
  color: black;
  background-color: white;
  width: 317px;
  height: 292px;
  border: 5px solid $primary-blue;
  border-radius: 15px;
  z-index: 5;
  display: block;
}

.pop-up-message-text {
  margin-top: 100px;
  font-size: $mobile-h2-fontsize;
  color: $primary-blue;
}

.agreePermissionBtn {
  width: 250px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  font-size: $mobile-h3-fontsize;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
  
  &.clicked{
    background-color: darkgray;
  }
}

.notAgreePermissionBtn {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 0px;
  font-size: $mobile-h3-fontsize;
  color: $primary-grey;
}

.loadingGIF{
  margin-top: 50px;
  margin-left: px;
}

//NearByPage
.nearByHospital-text {
  position: static;
  color: $primary-blue;
}

.googleMapIframe {
  width: 90%;
  height: 250px;
  background-color: grey;
  margin-left: 0px;
}

.nearByHospital-detail {
  height: 458px;
  overflow: scroll;
}

.nearByHospital-detail-card {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 2px 3px 2px $primary-grey
}

.hosptialName {
  font-size: $mobile-h2-fontsize;
  color: $primary-blue;
  margin-bottom: 5px;
}

.hosptialPhone,
.hosptialAddress {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin-top: 3px;
}

.healthCheckServiceTage {
  font-size: $mobile-h4-fontsize;
  color: white;
  background-color: $primary-blue;
  border-radius: 45px;
  width: 90px;
  margin-top: 3px;
  padding: 3px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.healthCheckService {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  margin-top: 20px;
  text-align: left;
}

.cancer-1,
.cancer-2,
.cancer-3,
.cancer-4 {
  font-size: $mobile-h4-fontsize;
  color: $primary-blue;
  margin: 3px;
}

.cancer-1-provided,
.cancer-2-provided,
.cancer-3-provided,
.cancer-4-provided {
  font-size: $mobile-h4-fontsize;
  color: dark-grey;
  margin: 3px;
}

.progress-bar-start {
  background-image: url("/progress@3x.png");
  width:325px;
  height: 55px;
  background-size: 325px 55px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  /* 如果需要圓角 */
  background-clip: padding-box;
  /* 限制背景裁剪到圓角內 */
}


.progress-bar-end {
  background-image: url("/progressEnd@3x.png");
  width: 325px;
  height: 55px;
  background-size: 325px 55px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  /* 如果需要圓角 */
  background-clip: padding-box;
  /* 限制背景裁剪到圓角內 */
}

#map{
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #root {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .website-Logo-Icon{
    margin-top: 20px;
  }

  .big-layout-upper-section{
    height: 420px;
  }

  .upper-section-textarea-hi{
    font-size: $mobile-h0-fontsize;
  }

  .upper-section-textarea-text{
    font-size: $mobile-h1-fontsize;
  }

  .font-size-h2-text{
    font-size: $mobile-h1-fontsize;
  }

  .cancer1-img,
  .cancer2-img,
  .cancer3-img,
  .cancer4-img{
    width: 250px;
    height: 250px;
    margin-right:10px;
  }

  .letGoBtn,.checkBtn,.NearByBtn {
    width: 600px;
    height: 70px;
    font-size:$mobile-h2-fontsize;
    margin-top: 50px;
  }

  .progress-bar-start{
    background-image: url("/bigProgress@3x.png");
    width:921px;
    height: 68px;
    background-size: 921px 68px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
      /* 如果需要圓角 */
    background-clip: padding-box;
      /* 限制背景裁剪到圓角內 */
  }

  .progress-bar-end{
    background-image: url("/bigProgressEnd@3x.png");
    width: 921px;
    height: 68px;
    background-size: 921px 68px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
      /* 如果需要圓角 */
    background-clip: padding-box;
      /* 限制背景裁剪到圓角內 */
  }

  .ageSlider{
    width: 500%;
  }

  .question-2-answer{
    width: 650px;
  }

  .lower-section-result-area-text{
    font-size:$mobile-h2-fontsize;
    margin: auto 0;
    width: 500px;
  }

  .cancer1.checked,
  .cancer2.checked,
  .cancer3.checked,
  .cancer4.checked{
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }

  .cancer1,
  .cancer2,
  .cancer3,
  .cancer4 {
      width: 250px;
      height: 250px;
      margin-right: 10px;
    }

  .pop-up-message{
    position: absolute;
    width: 600px;
    height: 350px;
    top: 250px;
    left: 50%;
      /* 定位到整個畫面的 50% */
      transform: translateX(-50%);
      /* 將元素的寬度往左移一半，實現居中 */
  }
  
  .pop-up-message-text{
    font-size: $mobile-h1-fontsize;
  }
  
  .agreePermissionBtn,
  .notAgreePermissionBtn{
    width: 450px;
    height: 60px;
    font-size: $mobile-h2-fontsize;
  }

  .loadingGIF{
    width:300px;
    height: 80px;
  }

  .small-layout-lower-section-map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 825px;
    background-color: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .nearByHospital-text{
    width:800px;
  }

  .nearByHospital-detail{
    width:600px;
    height: 485px;
  }

  #map{
    height: 500px;
  }

  .nearByHospital-text,
  .nearByHospital-detail{
    margin-top:50px;
  }
  .nearByHospital-detail{
    margin-top: 120px;
  }

  .nearByHospital-detail-card{
    width:90%;
    box-shadow: 3px 3px 2px $primary-grey;
  }

  .hosptialName{
    font-size:$mobile-h2-fontsize;
  }

  .hosptialPhone,
  .hosptialAddress{
    font-size: $mobile-h2-fontsize;
    }

  .healthCheckServiceTage{
    width: 120px;
    font-size: $mobile-h3-fontsize;
  }

  .cancer-1,
  .cancer-2,
  .cancer-3,
  .cancer-4,
  .cancer-1-provided,
  .cancer-2-provided,
  .cancer-3-provided,
  .cancer-4-provided{
    font-size: $mobile-h3-fontsize;
  }

  .checkicon {
      position: relative;
      z-index: 999;
      top: -14px;
      left: 50px;
    }
}
