//color
$primary-blue: #2761bd;
$primary-grey: #d9d9d9;
$white: #ffffff;

//fontsize
$mobile-h0-fontsize: 40px;
$mobile-h1-fontsize: 30px;
$mobile-h2-fontsize: 20px;
$mobile-h3-fontsize: 15px;
$mobile-h4-fontsize: 12px;

//box-shadow:
$btn-box-shadow: 2px 2px 7px 2px lightgrey;

.logo-text {
  font-weight: bold;
}

.logo-text {
  color: white;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 20px;
}

.background-container-big {
  width: 100vw;
  // height: 896px;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.upper-section-textarea-title-area{
  display: none;
}

.upper-section-textarea-text-tp,
.upper-section-textarea-text-tc,
.upper-section-textarea-title-source,
.upper-section-textarea-text-op {
  display: none;
}

.upper-section-textarea-text-age{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}



//BigHeaderLayout 版型1
.big-layout-upper-section {
  height: 255px;
}

.upper-section-navigation {
  height: 66px;
  display: flex;
  align-items: center;
}

.upper-section-textarea {
  color: $white;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.big-layout-lower-section{
  height: 640px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

//smallHeaderLayout 版型2
.background-container-small {
  width: 100vw;
  height: 100vh;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;
}

.small-layout-upper-section{
  height: 72px;
}

.small-layout-lower-section{
  height: 825px;
  background-color: $white;
  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

.small-layout-lower-section-map {
  height: 825px;
  background-color: $white;
  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

//Header 版型1 & 版型2共用
.website-Logo-Icon {
  width: 24px;
  height: 24px;
  // margin-top: 22px;
  margin-left: 20px;
}

//UpperSectionText
.upper-section-textarea {
  color: $white;
  margin-left: 30px;
  margin-right: 30px;
  text-align: start;
}

.upper-section-textarea-hi {
  font-size: $mobile-h1-fontsize;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}

.upper-section-textarea-text {
  font-size: $mobile-h2-fontsize;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.upper-section-textarea-text-map{
  font-size: 15px;
}

//Small-lower-Layout
.Small-lower-section-top-area {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  // padding-left: 30px;
  font-weight: bold;
  display: table-row;
}

.Small-lower-section-middle-area{
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:10px;
}

.Small-lower-section-button-area {
  margin-top: 30px;
  margin-top: 50px;
}

//Lower-Section-Item-H3-text
.font-size-h3-text {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin-top: 40px;
}

//FourGridImage
.cancer1-img,
.cancer2-img,
.cancer3-img,
.cancer4-img {
  width: 120px;
  height: 120px;
  margin: 3px;
  // border-radius: 10px;
  // box-shadow: 1px 1px 7px 1px lightgrey;
}

//LetGoBtn
.letGoBtn {
  margin-top:0px;
  width: 332px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
}

.letGoBtn:hover{
  background-color: rgb(36 74 147) !important;
}


//ProgressBar
.lower-section-progress-bar-area {
  margin-top: 30px;
  margin-bottom: 30px;
}


.cd-multi-steps {
  width: 90%;
  max-width: 768px;
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: .25em;
}

.cd-multi-steps {
  background-color: transparent;
  padding: 0;
  text-align: center;
  display: flex;
}

.cd-multi-steps.text-top{
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.cd-multi-steps.text-top li {
  width: 80px;
  text-align: center;
}

.cd-multi-steps li {
  position: relative;
  float: none;
  margin: 0.4em 40px 0.4em 0;
  color: black;
}

.cd-multi-steps.text-top li>* {
  padding-bottom: 20px;
}

.cd-multi-steps.text-top li>*::before{
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #edeff0;
  top:-32px;
}

.cd-multi-steps.text-top li.visited>*::before,
.cd-multi-steps.text-top li.current>*::before{
  background-color: #2761bd;
}

.cd-multi-steps.text-top li>* {
  padding-bottom: 20px;
}

.cd-multi-steps li>*,
.cd-multi-steps li.current>* {
  position: relative;
  color: #2c3f4c;
}

.cd-multi-steps.text-top li:nth-child(1)::after,
.cd-multi-steps.text-top li:nth-child(2)::after {
  content: "";
  background-color: #edeff0;
  position: absolute;
  z-index: 0;
  width: 120px;
  height: 4px;
  left: 50%;
  top: 5px;
}

.cd-multi-steps.text-top li:nth-child(1)::before{
background-color: #2c3f4c;
}

.progress-bar-title{
  position: relative;
  top: 28px;
  font-size: 0.9rem;
  font-weight: 400;
}

.cd-multi-steps li:nth-child(1).visited::after,
.cd-multi-steps li:nth-child(2).visited::after {
  background-color: #2761bd;
}

.cd-multi-steps.text-top li::after {
  position: absolute;
  left: 50%;
  width: calc(100% + 40px);
  
}

.cd-multi-steps li.visited::after {
  background-color: #2761bd;
}
        
ol,
ul {
  list-style: none;
}


.progress-bar-map{
  background-color: white;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
}

//formPage- lowerSection

.formFormat{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

//range slider
.ageSlider {
  -webkit-appearance: none;
  width: 225%;
  height: 33px;
  background-color: $primary-grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  border-radius: 15px;
}

.ageSlider:hover {
  opacity: 1;
}

.ageSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  background: $primary-blue;
  cursor: pointer;
}

.ageSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: $primary-blue;
  border-radius: 45px;
  cursor: pointer;
}

#ageOutput {
  color: $primary-blue;
}

.lower-section-progress-bar-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

.lower-section-button-area {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.question-1,
.question-2{
  font-size:$mobile-h2-fontsize;
}

.question-1-question {
  color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-2 {
  color: black;
  margin-top: 40px;
}

.question-2-question{
  display: flex;
}

.question-2-answer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.question-2-answer{
  margin-bottom: 36px;
}

input[type="radio"]:checked+label .gender-answer-pic {
  border: 3px solid $primary-blue;
  border-radius: 15px;
  box-shadow: 0.6px 1px 7px 6px #ccc;
}

input[type="radio"] {
  visibility: hidden;
}

.checkBtn {
  // margin-top: 30px;
  margin-top: 40px;
  width: 332px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: $mobile-h2-fontsize;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
}

//ResultPage

.lower-section-result-area-text{
  font-size: $mobile-h3-fontsize;
  color:$primary-blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.lower-section-result-area-four-box {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:10px;
    padding: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px
}


.cancer1,
.cancer2,
.cancer3,
.cancer4{
  width: 120px;
  height: 120px;

  &.checked {
    border: 5px solid $primary-blue;
    border-radius: 25px;
    box-shadow: 0.6px 1px 7px 6px #ccc;
    margin-right: 6px;
  }
}

.cancer1.checked~.checkicon1 {
  display: block;
}

.cancer2.checked~.checkicon2 {
  display: block;
}

.cancer3.checked~.checkicon3 {
  display: block;
}

.cancer4.checked~.checkicon4 {
  display: block;
}

.cancer1-area{
  position: relative;
}

.checkicon1{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.cancer2-area {
  position: relative;
}

.checkicon2 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.cancer3-area {
  position: relative;
}

.checkicon3 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.cancer4-area {
  position: relative;
}

.checkicon4 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.NearByBtn{
    margin: 0 auto;
    width: 332px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: $mobile-h2-fontsize;
    background-color: #2761bd;
    color: $white;
    box-shadow: $btn-box-shadow;
    margin-top: 40px;
}

.progress-bar-start,.progress-bar-end{
  height: 55px;
  width: 325px;
}

//loading animation

.loading{
  margin-top: 100px;
}

.bubblingG {
  text-align: center;
  // width: 400px;
  height: 60px;
  margin: auto;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 24px auto;
  background: rgb(92, 147, 230);
  border-radius: 49px;
  -o-border-radius: 49px;
  -ms-border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  animation: bubblingG 1.5s infinite alternate;
  -o-animation: bubblingG 1.5s infinite alternate;
  -ms-animation: bubblingG 1.5s infinite alternate;
  -webkit-animation: bubblingG 1.5s infinite alternate;
  -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-20px);
  }
}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -o-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -o-transform: translateY(-20px);
  }
}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -ms-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -ms-transform: translateY(-20px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 91, 181);
    -moz-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    -moz-transform: translateY(-20px);
  }
}

.Small-lower-section-middle-area{
  // grid-template-columns: auto auto auto auto;
  // grid-template-rows: auto;
}
//PopupModal
.cover-image {
  position: absolute;
  height: 844px;
  width: 100vw;
  background-color: white;
  opacity: 0.9;
  z-index: 2;
  display: block;
  
}

.pop-up-message {
  position: absolute;
  top: 220px;
  left: 50%;
    /* 定位到整個畫面的 50% */
    transform: translateX(-50%);
    /* 將元素的寬度往左移一半，實現居中 */
  color: black;
  background-color: white;
  width: 317px;
  height: 292px;
  border: 5px solid $primary-blue;
  border-radius: 15px;
  z-index: 5;
  display: block;
}

.pop-up-message-text {
  margin-top: 100px;
  font-size: $mobile-h2-fontsize;
  color: $primary-blue;
}

.agreePermissionBtn {
  width: 250px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  font-size: $mobile-h3-fontsize;
  background-color: #2761bd;
  color: $white;
  box-shadow: $btn-box-shadow;
  
  &.clicked{
    background-color: darkgray;
  }
}

.notAgreePermissionBtn {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 0px;
  font-size: $mobile-h3-fontsize;
  background-color: $primary-grey;
}

.loadingGIF{
  margin-top: 50px;
  margin-left: px;
}

//NearByPage
.nearByHospital-text {
  position: static;
  color: $primary-blue;
}

.googleMapIframe {
  width: 90%;
  height: 250px;
  background-color: grey;
  margin-left: 0px;
}

.nearByHospital-detail {
  height: 458px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nearByHospital-detail-card {
  // margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 2px 6px rgba(26, 31, 28, .08);
  padding-right: 15px
}

.hosptialName {
  font-size: $mobile-h2-fontsize;
  color: $primary-blue;
  margin-bottom: 5px;
  text-align:left;
  font-weight: bold;
}

.hosptialPhone,
.hosptialAddress {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  text-align: left;
}

.healthCheckServiceTage {
  font-size: $mobile-h4-fontsize;
  color: white;
  background-color: $primary-blue;
  border-radius: 5px;
  width: 83px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.healthCheckService {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  margin-top: 15px;
  text-align: left;
}

.cancer-1,
.cancer-2,
.cancer-3,
.cancer-4 {
  font-size: $mobile-h3-fontsize;
  color: $primary-blue;
  margin: 3px;
}

.cancer-1-provided,
.cancer-2-provided,
.cancer-3-provided,
.cancer-4-provided {
  font-size: $mobile-h3-fontsize;
  color: black;
  margin: 3px;
}

.progress-bar-start {
  background-image: url("/progress@3x.png");
  width:325px;
  height: 55px;
  background-size: 325px 55px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  /* 如果需要圓角 */
  background-clip: padding-box;
  /* 限制背景裁剪到圓角內 */
}


.progress-bar-end {
  background-image: url("/progressEnd@3x.png");
  width: 325px;
  height: 55px;
  background-size: 325px 55px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  /* 如果需要圓角 */
  background-clip: padding-box;
  /* 限制背景裁剪到圓角內 */
}

#map{
  height: 300px;
  width: 100%;
}

//sorryPage
.sorryImg{
  width: 90px;
  margin-top: 150px;
}

.noSupportText{
  color:#2761bd;
}

.BacktoTopBtn{
  margin: 0 auto;
    width: 332px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: $mobile-h2-fontsize;
    background-color: #2761bd;
    color: $white;
    box-shadow: $btn-box-shadow;
}

.small-layout-lower-section-sorry {
  height: 825px;
  background-color: $white;
  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;
  // box-shadow: inset 0 0 10px lightgrey;
  display: flex;
  flex-direction: column;
}

.font-size-h2-text {
  font-size: $mobile-h2-fontsize;
}

.Fill-Icon,
.location-Icon,
.check-Icon{
  width: 15px;
  height: 15px;
  padding-right: 10px;
  margin-top: 3px;
}

.url{
  color: white;
}

.cancer1-div,
.cancer2-div,
.cancer3-div,
.cancer4-div{
  width: 125px;
  height: 125px;
}


/*平板和桌機版樣式*/
@media screen and (min-width: 768px) {
  #root {
    margin-left: 0px;
    margin-right: 0px;
  }

    .Fill-Icon,
    .location-Icon,
    .check-Icon {
      width: 20px;
      height: 20px;
      padding-right: 10px;
      margin-top: 3px;
    }

  .background-container-big{
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .background-container-small {
    width: 100vw;
    height: 100vh;
    background-color: $primary-blue;
    display: flex;
    flex-direction: column;
  }

  .big-layout-lower-section{
    margin-top: 66px;
    height: calc(100vh - 66px);
    width: calc(100vw - 400px);
  }

  .website-Logo-Icon{
    margin-top: 0px;
  }

  .big-layout-upper-section{
    height: 420px;
  }

  .upper-section-textarea{
    width: 440px;
    margin-top: 100px;
  }

  .upper-section-textarea-title-use,
  .upper-section-textarea-title-area,
  .upper-section-textarea-title-source
  {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 20px;
  }

  .upper-section-textarea-hi{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .upper-section-textarea-title-area{
    display: block;
  }

  .upper-section-textarea-text-age,
  .upper-section-textarea-text-map,
  .upper-section-textarea-text-tp,
  .upper-section-textarea-text-tc,
  .upper-section-textarea-text-op
  {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-top: 4px;
    align-items: center;
    margin-bottom: 0px;
    height: 40px;
    padding-left: 10px;
  }

  .url{
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
  }

  .Small-lower-section-button-area{
    margin-top: 0px;
  }

  .font-size-h2-text{
    display: block;
    font-size: 20px;
    margin-top: 100px;
  }

  .cancer1-img,
  .cancer2-img,
  .cancer3-img,
  .cancer4-img{
    width: 200px;
    height: 200px;
    margin-right:10px;
  }

  .letGoBtn,.checkBtn,.NearByBtn,.BacktoTopBtn {
    width: 600px;
    height: 70px;
    font-size:$mobile-h2-fontsize;
    margin-top: 50px;
  }

  .letGoBtn{
    margin-top: 250px;
  }

  .Small-lower-section-middle-area{
    margin-top: 50px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 100px;
  }
  .progress-bar-start{
    background-image: url("/bigProgress@3x.png");
    width:921px;
    height: 68px;
    background-size: 921px 68px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
      /* 如果需要圓角 */
    background-clip: padding-box;
      /* 限制背景裁剪到圓角內 */
  }

  .progress-bar-end{
    background-image: url("/bigProgressEnd@3x.png");
    width: 921px;
    height: 68px;
    background-size: 921px 68px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
      /* 如果需要圓角 */
    background-clip: padding-box;
      /* 限制背景裁剪到圓角內 */
  }

  .ageSlider{
    width: 500%;
  }

  .question-2-answer{
    width: 650px;
  }

  .lower-section-result-area-text{
    font-size:$mobile-h3-fontsize;
    margin: auto 0;
  }

  .cancer1.checked,
  .cancer2.checked,
  .cancer3.checked,
  .cancer4.checked{
    width: 175px;
    height: 175px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .cancer1,
  .cancer2,
  .cancer3,
  .cancer4 {
      width: 175px;
      height: 175px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

  .pop-up-message{
    position: absolute;
    width: 600px;
    height: 350px;
    top: 250px;
    left: 50%;
      /* 定位到整個畫面的 50% */
      transform: translateX(-50%);
      /* 將元素的寬度往左移一半，實現居中 */
  }
  
  .pop-up-message-text{
    font-size: $mobile-h1-fontsize;
  }
  
  .agreePermissionBtn,
  .notAgreePermissionBtn{
    width: 450px;
    height: 60px;
    font-size: $mobile-h2-fontsize;
  }

  .loadingGIF{
    width:300px;
    height: 80px;
  }

  .small-layout-lower-section-map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 825px;
    background-color: $white;
    // border-top-left-radius: 30px;
    // border-top-right-radius: 30px;
  }

  .nearByHospital-text{
    width:800px;
  }

  .nearByHospital-detail{
    width:600px;
    height: 485px;
  }

  #map{
    height: 500px;
  }

  .nearByHospital-text,
  .nearByHospital-detail{
    margin-top:50px;
  }
  .nearByHospital-detail{
    margin-top: 120px;
  }

  .nearByHospital-detail-card{
    width:90%;
    box-shadow: 3px 3px 2px $primary-grey;
  }

  .hosptialName{
    font-size:$mobile-h2-fontsize;
  }

  .hosptialPhone,
  .hosptialAddress{
    font-size: $mobile-h2-fontsize;
    }

  .healthCheckServiceTage{
    width: 120px;
    font-size: $mobile-h3-fontsize;
  }

  .cancer-1,
  .cancer-2,
  .cancer-3,
  .cancer-4,
  .cancer-1-provided,
  .cancer-2-provided,
  .cancer-3-provided,
  .cancer-4-provided{
    font-size: $mobile-h3-fontsize;
  }

  .checkicon {
      position: relative;
      z-index: 999;
      top: -14px;
      left: 50px;
    }
}
